h2 span
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hovered
{
	color: orange;
	cursor: pointer;
}
#clicked
{
	color:white;
	background: black;
}